.menu-bar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(255, 255, 255);
    z-index: 10;
}

.menu-bar a{
    margin-bottom: 35px;
    margin-left: 150px;
}


.logo{
    /* animation-name: invincible; */
    animation-duration: 2s;
    margin-left: 20px;
    margin-right: 100px;
    animation: progress-grow auto linear;
    animation-timeline: scroll(root);
}

.nav-link{
  text-decoration: none;
  display: flex;
  list-style: none;
  padding: 0;
  gap: 10px;
  margin-top: 30px;
  margin-left: 20px;
  color: black;
}


.video-container video{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.scroll-spacer{
    height: 4000px;
}

.scroll-spacer1{
    height: 4000px;
}


.fixed {
  position: fixed;
  top: 1px;
}

.static {
  position: absolute; /* Или static */
  top: 3500px; /* Точка, где он должен "застрять" */
}

.content h1{
    position: static;
}

.content{
    margin-top: 920px;
}

/* @keyframes invincible{
    from {opacity: 100%; visibility: visible;}
    to {opacity: 0%; visibility: hidden;}
} */

.container {
    max-width: 1200px; /* Контент не растянется шире 1200px */
    margin: 0 auto;    /* Автоматические отступы по бокам центрируют блок */
}
